@charset "utf-8";


#table2
{
	
	color:#FFF;
}
#table2 li
{
	
	 display:inline-block;
	 list-style:none;
	 margin-left:20px;
}
#table2 .selected
{
	
	border: 2px solid #CCC;
	filter: Light;
	 
	border-radius:30px;
	padding-left:9px;
	padding-right:9px;
}

#table1
{
	
	 float:left;
	 width:375px;
}

.selected {
	background-color:rgba(128,128,128,0.8) !important;
	color: #FFF;
}
#main_div {
	background-image: url(b.jpg);
	background-repeat: no-repeat;background-size:100%;
}

.datarow{
	 background-color:	rgba(50,50,50,0.8)  ;
	 width:351px;
	 display:block;
	 margin-bottom:3px;
	 height:31px;
	 line-height:31px;
	 padding-left:30px;
	
	
}
#list_div
{
	
	
	     position:absolute;
	  left:145px;
	  top:82px;
	/*  background-color:#39F;
	  
	  width:373px;*/
	  width:638px;
	  height:491px;
	  color:#FFF;
	  font-weight:bolder;
	
}

#thumb_img{
	
      position:absolute;
	  left:875px;
	  top:355px;
	  background-color:#39F;width:250px;
	  height:325px;
	  z-index:999;
	  
	  	
	
}


#info_div
{
	     position:absolute; background-color:rgba(0,0,0,0.7)  ;
		 width:1280px;
		 height:307px;
	  
	  top:410px;  color:#FFF;
	  padding-left:113px;
	/*  font-weight:bolder;*/
	
}
#title_div_wrap
{
	  left:817px; top:657px; color:#FFF;  font-weight:bolder;  width:1280px; height:90px; 
}
#title_div
{
	font-size:36px;
	}
.star_cls
{
 color:#F6F;
}
#desc_div
{
	margin-top:20px;
 	
}
.searchbox
{
	position:fixed;
	bottom:0px;
	border:medium;
	background-color:#39C;
	z-index:999;
	
	
	 
	 
}
